.rBox {
	width: 574px;
	height: 450px;
	border: none;
	border-radius: 10px;

}

.rBox1 {
	width: 352px;
	height: 93px;
	border-radius: 10px;
	background-color: #ededf6;
}


.rBox2 {
	width: 352px;
	height: 93px;
	border-radius: 10px;
	background-color: #ededf6;
	;
}

.rBox3 {
	background-color: #12141D;
	width: 352px;
	height: 93px;
	border-radius: 10px;

}

.bars {
	width: 50.4px;
	height: 5.2px;
	background-color: #DDE2ED;
	border-radius: 12px;
}

.bars1 {
	width: 312px;
	height: 5px;
	background-color: #DDE2ED;
	;
	border-radius: 12px;
}

.bars2 {
	width: 288px;
	height: 5px;
	background-color: #DDE2ED;
	;
	border-radius: 12px;
}

.bars3 {
	width: 254px;
	height: 5px;
	background-color: #DDE2ED;
	;
	border-radius: 12px;
}

.pb1 {
	width: 90px;
	height: 5px;
	background-color: #DDE2ED;
	border-radius: 12px;
}

.pb2 {
	width: 70px;
	height: 5px;
	background-color: #DDE2ED;
	border-radius: 12px;
}

.pb3 {
	width: 82px;
	height: 5px;
	background-color: #DDE2ED;
	border-radius: 12px;
}

.pb4 {
	width: 57px;
	height: 5px;
	background-color: #DDE2ED;
	border-radius: 12px;
}

.pb5 {
	width: 75px;
	height: 5px;
	background-color: #DDE2ED;
	border-radius: 12px;
}

.pb6 {
	width: 87px;
	height: 5px;
	background-color: #DDE2ED;
	border-radius: 12px;
}

.pb7 {
	width: 64px;
	height: 5px;
	background-color: #DDE2ED;
	border-radius: 12px;
}

.pb8 {
	width: 77px;
	height: 5px;
	background-color: #DDE2ED;
	border-radius: 12px;
}

.pb9 {
	width: 57px;
	height: 5px;
	background-color: #DDE2ED;
	border-radius: 12px;
}